body {
    margin: 0;
    padding: 0;
    background-image: url('img2.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    position: absolute;
}
.loginbox2 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 530px;
    padding: 80px 40px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(126, 47, 47);
}



.txtuser, .txtpass, .btnsign {
    width: 100%;
    margin-bottom: 20px;
}

.txtuser, .txtpass {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

::placeholder {
    text-align:center;
    color: rgba(255,255,255,0.5);
}

.btnsign {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(255,9,9);
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

    .btnsign:hover {
        background-color: rgb(255,217,9);
    }
